.essay-ui{
	border:1px solid rgba(57,70,146,0.32);
}

.eu-box{
	min-width:400px;
	font-family:"微软雅黑";
}

.eu-item{
	margin:1px;
	background-color:#E9F2F4;
}

.eu-information{
	height:21px;
	border:0px;
	color:#6C6C6C;
	font-size:13px;
	overflow:hidden;
}

.eu-information a:link,
.eu-information a:visited{
	color:#24353E;
	text-decoration:none;
	padding:2px 0 0 10px;
}

.eu-information a:hover{
	text-decoration:underline;
}

.eu-id{
	background-color:#D4DEE0;
	width:90px;
	height:20px;
	border-left-width:0px;
	border-top-width:0px;
	border-bottom-right-radius:50px 20px;
	padding:2px 0px 0px 5px;
	cursor:pointer;
	float:left;
}

.eu-id span{
	color:#9E0508;
	font-weight:bold;
}

.eu-id:hover{
	opacity:0.8;
}

.eu-private{
	background-color:#FFD6D6;
 }

.eu-time{
	padding:2px 0px 0px 10px;
	float:left;
	border:0px;
}

.eu-place{
	border:0px;
	float:left;
	padding:2px 0px 0px 10px;
}

.eu-near{
	float:right;
	padding:2px 0px 0px 0px;
}

.eu-check{
	float:right;
	border:0px;
	padding:2px 0 0 10px;
}

@font-face {
	font-family: 'esy_iconfont';
	src: url('../font/iconfont.eot'); /* IE9*/
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../essay/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.eu-box i{
	font-family:"esy_iconfont";
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.eu-content{
	font-family:"宋体";
	font-size:16px;
	word-break:break-all;
	padding:12px 15px 6px 30px;
	line-height:1.3em;
	border:0px;
	/*min-height:40px;*/
}

.eu-content a:link,.eu-content a:visited{
	color:#49240E;
	text-decoration:none;
	border-bottom:1px dashed #3E2C18;
	padding-bottom:1px;
}

.eu-content a:hover{
	border-bottom:1px solid #3E2C18;
}

.eu-bottom{
	height:21px;
	padding:6px 3px 4px 0;
	color:#333333;
	font-size:13px;
	border:0px;
	overflow:hidden;
}

.eu-source{
	float:left;
	padding-left:10px;
	border:0px;
}

.eu-hidden{
	float:left;
	padding-left:10px;
	border:0px;
}

.eu-hidden a:link,.eu-hidden a:visited{
	color:#354D5F;
	text-decoration:none;
}

.eu-hidden a:hover{
	text-decoration:underline;
}

.eu-comment-button{
	float:right;
	padding:2px 8px 3px 8px;
	background-color:#2B5895;
	color:#FFFFFF;
	border-bottom:0px;
	cursor:pointer;
}

.eu-comment-button:hover{
	background-color:#2B6C3B;
}

.eu-comment-tip{
	float:right;
	border: 0px;
	margin-right:10px;
}

.eu-comment-tip a:link,
.eu-comment-tip a:visited{
	color:#283E93;
	text-decoration:none;
	margin-right:2px;
}

.eu-comment-tip a:hover{
	color:#547BD5;
}

.eu-comment{
	margin-left:30px;
	background-color:#2B5895;
	padding:10px;
	border:0;
}

.eu-comment-item-box{
	border:0px;
}

.eu-comment-item{
	border:0px;
	margin-bottom:7px;
	padding-top:0px;
	padding-bottom:5px;
	border-bottom:1px solid #AFAFAF;
}

.eu-comment-portrait{
	float:left;
	padding:0px 2px 2px 2px;
}

.eu-comment-portrait img{
	padding:2px;
	border:1px solid #4B9A80;
}

.eu-comment-main{
	padding-left:42px;
	min-height:30px;
	color:#F0FFFC;
}

.eu-comment-information{
	font-size:11px;
}
.eu-comment-information a:link,
.eu-comment-information a:visited{
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
	color:#B0DCC3;
}

.eu-comment-information a:hover{
	color:#FFF6F6;
}

.eu-comment-information img{
	position:relative;
	top:1px;
}

.eu-comment-content{
	font-size:13px;
}

.eu-comment-more{
	text-align:center;
	padding:0;
	transition:all .2s;
	border: 0px;
	background-color:#99E2E5;
}

.eu-comment-more button{
	box-sizing:border-box;
	width:100%;
	cursor:pointer;
	margin:0px;
}
.eu-comment-more button:active{
	border:0px;
}
.eu-comment-more:hover{
	background-color:#D9ECEB;
}
.eu-comment-more button{
	border: 0px;
	background-color:rgba(255,227,192,0.00);
}

.eu-comment-add{
	border: 0px;
}

.eu-comment-input-box{
	margin:2px 60px 0 0;
	border:0px;
}

.eu-comment-input-box input{
	padding:2px 2px 4px 4px;
	width:100%;
	box-sizing:border-box;
	border:1px solid #8EE7CC;
	background-color:#F0FAFF;
}

.eu-comment-post{
	float:right;
	width:60px;
	border:0px;
	padding:0px;
	box-sizing:border-box;
	padding:2px 0 0 2px;
}

.eu-comment-post button{
	width:100%;
	height:26px;
	box-sizing:border-box;
	margin:0px;
	border:1px solid #822E2F;
	background-color:#DDDDDD;
}
.eu-comment-post button:hover{
	background-color:#E5E5E5;
}

.eu-comment-reply{
	margin-left:4px;
}

.eu-loading{
	text-align:center;
	font-size:14px;
	padding:5px;
	background-color:#DAE3F1;
}
.eu-loading a:link,.eu-loading a:visited{
	text-decoration:none;
	color:#3A360E;
}
.eu-loading a:hover{
	text-decoration:underline;
	color:#D96927;
}

div#Essay_Map{
	display:none;
	padding:0px !important;
}

#eu-map-container{
	width:100%; height:100%;
}